<table>
  <tr>
      <th colspan="2">Name</th>
      <th colspan="1">HP</th>
      <th colspan="1">Atk</th>
      <th colspan="1">Def</th>
      <th colspan="1">SpAtk</th>
      <th colspan="1">SpDef</th>
      <th colspan="1">Speed</th>
  </tr>
  <tr *ngFor='let id of ids'>
    <td colspan="2">
      {{id}}
    </td>
    <td colspan="1">
      45
    </td>
    <td colspan="1">
      60
    </td>
    <td colspan="1">
      70
    </td>
    <td colspan="1">
      20
    </td>
    <td colspan="1">
      10
    </td>
    <td colspan="1">
      30
    </td>
  </tr>
</table>
