<form class="form-group">
    <div *ngFor="let stat of statsArray; let index = index; trackBy:trackByIndex;">
        <label class="sr-only" for="inlineFormInputGroupUsername2"></label>
        <div class="input-group mb-1 mr-sm-1 w-25">
          <div class="input-group-prepend">
            <div class="input-group-text">Health</div>
          </div>
          <input name="a{{index}}" type="number" class="form-control" id="inlineFormInputGroupUsername2" [(ngModel)]="statsArray[index]">
        </div>
    </div>
</form>

<button (click)="filter($event)">Apply</button>
